@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .titleWidthPaddingTd {
        width: 470pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
    }

    .subtitleTable {
        background: #fbe4d5;
        border-collapse: collapse;
        border: none;
    }

    <!-- STYLE FONTES -->
    .font {
        font-family: 'Arial', sans-serif;
    }

    .fontBold {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
    }

    .fontTitle {
        font-family: 'Arial', sans-serif;
        font-size: 16pt;
        color: white;
        font-weight: bold;
    }

    .fontSubtitle {
        font-family: 'Arial', sans-serif;
        font-size: 16pt;
        color: black;
        font-weight: bold;
    }

    .fontTable {
        font-family: 'Arial', sans-serif;
        font-size: 10pt;
    }

    .fontTableBold {
        font-family: 'Arial', sans-serif;
        font-size: 10pt;
        font-weight: bold;
    }
</style>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
</head>
<body lang="PT-BR">
    <div>
        <table style="border-collapse: collapse; border: none; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;">
            <tr>
                <td class="titleWidthPaddingTd" style=" border: solid #ed7d31 1pt; background: #ed7d31; ">
                    <p align="center">
                        <span class="fontTitle"> Título Principal </span>
                    </p>
                </td>
            </tr>
        </table>
        <p>
            <table class="subtitleTable">
                <tr>
                    <td class="titleWidthPaddingTd">
        <p align="center">
            <span class="fontSubtitle">Subtítulo Um </span>
        </p>
        </td>
        </tr>
        </table>
        <p>
            <span class="fontBold">Processo:</span>
            <span class="font"> DESCRICAO INFO 1</span><br>
            <span class="fontBold">Nome:</span>
            <span class="font"> DESCRICAO INFO 2</span><br>
            <span class="fontBold">Período:</span>
            <span class="font"> De: 01/01/2000 até: 31/12/2000</span><br>
        <p>
            <table>
                <tr>
                    <td style="width: 160pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTableBold">Título</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTableBold">Data Início</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTableBold">Data Fim</span>
                    </td>
                    <td style="width: 140pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTableBold">Descrição</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 160pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">JOGADOR NÚMERO UM</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">01/01/2000</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">30/06/2000</span>
                    </td>
                    <td style="width: 140pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">UNIDADE BELO HORIZ.</span>
                    </td>
                <tr>
                    <td style="width: 160pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">JOGADOR NÚMERO DOIS</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">01/07/2000</span>
                    </td>
                    <td style="width: 60pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">31/12/2000</span>
                    </td>
                    <td style="width: 140pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                        <span class="fontTable">UNIDADE BELO HORIZ.</span>
                    </td>
                </tr>
            </table>
        <p>
            <table class="subtitleTable">
                <tr>
                    <td class="titleWidthPaddingTd">
        <p align="center">
            <b><span class="fontSubtitle"> Subtítulo Dois </span></b>
        </p>
        </td>
        </tr>
        </table>
        <p>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
            <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Nome:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 1<o:p></o:p></span>
        </p>
        </td>
        <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
            <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Nome:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 1<o:p></o:p></span>
            </p>
        </td>
        </tr>
        <tr>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Identidade:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 2<o:p></o:p></span>
                </p>
            </td>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Nome:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 1<o:p></o:p></span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">E-mail:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 3<o:p></o:p></span>
                </p>
            </td>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Nome:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 1<o:p></o:p></span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Nome:</span></b><span style="font-family: 'Arial', sans-serif;"> DESCRICAO SUB 1<o:p></o:p></span>
                </p>
            </td>
            <td width="283" valign="top" style="width: 212.35pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17pt;">
                <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: 0.0001pt; line-height: normal;">
                    <span style="font-family: 'Arial', sans-serif;"><o:p>&nbsp;</o:p></span>
                </p>
            </td>
        </tr>
        </table>
        <p>
        <p class="MsoNormal">
            <b style="mso-bidi-font-weight: normal;"><span style="font-family: 'Arial', sans-serif;">Período:</span></b><span style="font-family: 'Arial', sans-serif;"> De: 01/01/2000 até: 31/12/2000<o:p></o:p></span>
        </p>
        <table>
            <tr>
                <td style="width: 240pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTableBold">Título</span>
                </td>
                <td style="width: 97pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTableBold">Data Início</span>
                </td>
                <td style="width: 97pt; border: solid windowtext 1pt; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTableBold">Data Fim</span>
                </td>
            </tr>
            <tr>
                <td style="width: 240pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTable">JOGADOR NÚMERO UM</span>
                </td>
                <td style="width: 97pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTable">01/01/2000</span>
                </td>
                <td style="width: 97pt; border: solid windowtext 1pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
                    <span class="fontTable">30/06/2000</span>
                </td>
            </tr>
        </table>
        <p>
            <table class="subtitleTable">
                <tr>
                    <td class="titleWidthPaddingTd">
        <p align="center">
            <b><span class="font fontSubtitle"> Subtítulo Três </span></b>
        </p>
        </td>
        </tr>
        </table>
        <p>
        <p class="MsoListParagraphCxSpFirst" style="text-indent: -18pt; mso-list: l0 level1 lfo1;">
            <![if !supportLists]>
            <span style="font-family: Symbol; mso-fareast-font-family: Symbol; mso-bidi-font-family: Symbol;">
                <span style="mso-list: Ignore;">·<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
            </span>
            <![endif]>
            <span style="font-family: 'Arial', sans-serif;">Item 1<o:p></o:p></span>
        </p>

        <p class="MsoListParagraphCxSpMiddle" style="text-indent: -18pt; mso-list: l0 level1 lfo1;">
            <![if !supportLists]>
            <span style="font-family: Symbol; mso-fareast-font-family: Symbol; mso-bidi-font-family: Symbol;">
                <span style="mso-list: Ignore;">·<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
            </span>
            <![endif]>
            <span style="font-family: 'Arial', sans-serif;">Item 2<o:p></o:p></span>
        </p>

        <p class="MsoListParagraphCxSpLast" style="text-indent: -18pt; mso-list: l0 level1 lfo1;">
            <![if !supportLists]>
            <span style="font-family: Symbol; mso-fareast-font-family: Symbol; mso-bidi-font-family: Symbol;">
                <span style="mso-list: Ignore;">·<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
            </span>
            <![endif]>
            <span style="font-family: 'Arial', sans-serif;">Item 3<o:p></o:p></span>
        </p>
    </div>
</body>
</html>